image: fedora:27

stages:
  - build

before_script:
<<<<<<< HEAD
  # Update and use base build deps
  - dnf update -y && dnf -y install dnf-plugins-core @buildsys-build
  - dnf -y builddep gnome-software
  # Some deps may not be sync'd
  - dnf -y install rpm-ostree-devel

build-gnome-software:
  stage: build
  script:
  - meson -Denable-fwupd=false -Denable-rpm-ostree=true _build .
  - ninja -v -C _build
  - mkdir -p /run/dbus
  - mkdir -p /var
  - ln -s /var/run /run
  - dbus-daemon --system --fork
  - meson test -v -C _build gs-self-test-lib
  - meson test -v -C _build gs-self-test-core
  - meson test -v -C _build gs-self-test-dpkg
  - meson test -v -C _build gs-self-test-dummy
  - meson test -v -C _build gs-self-test-epiphany
  - meson test -v -C _build gs-self-test-fwupd
  - meson test -v -C _build gs-self-test-modalias
  - meson test -v -C _build gs-self-test-repos
  - meson test -v -C _build gs-self-test-src
  - meson test -v -C _build gs-self-test-shell-extensions
  - meson test -v -C _build gs-self-test-flatpak
