.flatpak-builder/

subprojects/appstream/
subprojects/gi-docgen.wrap
subprojects/gi-docgen/
subprojects/graphene.wrap
subprojects/graphene/
subprojects/gtk/
subprojects/libadwaita/
subprojects/libglib-testing/
subprojects/libsass.wrap
subprojects/libsass/
subprojects/libxmlb/
subprojects/malcontent/
subprojects/mutest.wrap
subprojects/mutest/
subprojects/sassc.wrap
subprojects/sassc/
subprojects/sysprof/
subprojects/wayland-protocols.wrap
subprojects/wayland-protocols/
