image: fedora:29

stages:
  - build

before_script:
  # Update and use base build deps
  - dnf update -y && dnf -y install git gobject-introspection-devel dnf-plugins-core @buildsys-build
  - dnf --enablerepo updates-testing -y builddep gnome-software
  # Some deps may not be sync'd
  - dnf -y install rpm-devel
  - dnf -y install libdnf-devel
  - dnf -y install libstemmer-devel
  - dnf -y install gnome-online-accounts-devel

build-gnome-software:
  stage: build
  script:
  - meson -Denable-fwupd=false -Denable-rpm-ostree=true _build .
  - ninja -v -C _build
  - mkdir -p /run/dbus
  - mkdir -p /var
  - ln -s /var/run /run
  - dbus-daemon --system --fork
  - /usr/lib/polkit-1/polkitd -n &
  - meson test -v -C _build gs-self-test-lib
  - meson test -v -C _build gs-self-test-core
  - meson test -v -C _build gs-self-test-dpkg
  - meson test -v -C _build gs-self-test-dummy
  - meson test -v -C _build gs-self-test-epiphany
  - meson test -v -C _build gs-self-test-fwupd
  - meson test -v -C _build gs-self-test-modalias
  - meson test -v -C _build gs-self-test-repos
  - meson test -v -C _build gs-self-test-src
  - meson test -v -C _build gs-self-test-shell-extensions
  - meson test -v -C _build gs-self-test-flatpak
