@import url("resource:///org/gnome/Software/gtk-style.css");

.installed-overlay-box {
	text-shadow: none;
}

.installed-icon, .app-row-installed-label {
	color: #999999;
}

.app-row-tag {
	color: white;
	background-color: #999999;
}

.application-details-infobar.info {
	background-color: #d3d7cf;
	border-color: darker(#d3d7cf);
}

.application-details-infobar.warning {
	color: @theme_fg_color;
}

.application-details-description {
}

.app-listbox-header {
	background-color: #babdb6;
	border-color: #000000;
}

.app-updates-section {
	border-color: #000000;
}

.content-box {
	border-color: alpha(@borders, 0.7);
}

star-image {
	color: #000000;
	-GsStarImage-star-bg: #777777;
}

app-context-bar .context-tile {
	border-color: alpha(@borders, 0.7);
}

.context-tile-lozenge.grey { background-color: #deddda; color: @theme_fg_color }
.context-tile-lozenge.green, .context-tile-lozenge.details-rating-0 { background-color: #b6f2c4; color: @theme_fg_color }
.context-tile-lozenge.red, .context-tile-lozenge.details-rating-18 { background-color: #fbd3cf; color: @theme_fg_color }
.context-tile-lozenge.details-rating-15 { background-color: #ffd7a5; color: @theme_fg_color }
.context-tile-lozenge.yellow, .context-tile-lozenge.details-rating-12 { background-color: #f7eb9f; color: @theme_fg_color }
.context-tile-lozenge.blue, .context-tile-lozenge.details-rating-5 { background-color: #d1e4fb; color: @theme_fg_color }

.community-built { color: @theme_fg_color }
