

GtkViewport {
    background-color: transparent;
}


GtkIconView {
    background-color: transparent;
}

GtkEventBox.gradient_box_software {
	/* TODO: Borders are broken for GtkEventBox
	border-style: solid;
	border-color: 204a87;
	border-width: 5px 0px 5px 0px;
	*/

	background-image:
		-gtk-gradient (
			linear,
			left top,
			left bottom,
			from (#214b88),
			to (#3465a4));
}

.installed-overlay-box {
        background-color: alpha(#729fcf, 0.75);
        border-radius: 6px;
}

.installed-overlay-label {
        color: white;
}

.index-title-alignment-software {
	font-weight: bold;
	color: #555753;
	font-size: 14px;
}


GtkNotebook.main-notebook-software > GtkScrolledWindow {
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

@keyframes throbbing {
        0% { background-image: linear-gradient(to bottom, transparent, transparent); }
}

.needs-attention {
        background-image: linear-gradient(to bottom, @theme_selected_bg_color, @theme_selected_bg_color);
        animation: throbbing linear 1s infinite alternate;
}

.view.tile {
        border-radius: 0;
        border-width: 3px;
        border-image: url("shadow.png") 3 3 3 3 stretch;
        background-image: none;
        background-color: @list_box_bg;
}

.view.tile:hover {
        background-color: @content_view_bg;
}
