.details-page {
  margin: 24px 0px;
}

/* The equivalent of libhandy’s .content class, but applicable to a plain GtkBox */
.content-box {
	border-radius: 8px;
	border: 1px solid shade(@theme_bg_color, 0.9);
	background-color: @theme_base_color;
}

.installed-overlay-box {
	font-size: smaller;
	background-color: @theme_selected_bg_color;
	border-radius: 0;
	color: @theme_selected_fg_color;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

.installed-overlay-box:backdrop label {
    color: @theme_selected_fg_color;
}

.installed-icon {
	color: @theme_selected_bg_color;
}

.popular-installed-overlay-box {
	font-size: smaller;
	background-color: @theme_selected_bg_color;
	border-radius: 0;
	color: @theme_selected_fg_color;
	text-shadow: none;
}

.popular-installed-overlay-box:backdrop label {
	color: @theme_selected_fg_color;
}

.index-title-alignment-software {
	font-weight: bold;
	font-size: 125%;
}

.app-row-installed-label {
	font-size: smaller;
}

.app-row-app-size {
	font-size: x-small;
}

/* Adapted from Adwaita’s .needs-attention class for stacksidebar */
sidebar row.needs-attention > box > label {
	animation: needs_attention 150ms ease-in;
	background-image: -gtk-gradient(radial,
					center center, 0,
					center center, 0.5,
					to(@theme_selected_bg_color),
					to(transparent)),
			  -gtk-gradient(radial,
					center center, 0,
					center center, 0.5,
					to(alpha(@theme_text_color, 0.5)),
					to(transparent));
	background-size: 6px 6px, 0 0;
	background-repeat: no-repeat;
	background-position: right 3px, right 4px;
}

sidebar row.needs-attention > box > label:dir(rtl) {
	background-position: left 3px, left 4px;
}

sidebar row.needs-attention:selected > box > label {
	animation: needs_attention 150ms ease-out;
	background-image: none;
}

.toolbar-primary-buttons-software {
	padding-left: 26px;
	padding-right: 26px;
}

.round-button {
	border-radius: 16px;
	-gtk-outline-radius: 16px;
}

.kudo-pill {
	color: @theme_selected_fg_color;
	background-color: shade(@theme_selected_bg_color, 1.1);
	background-image: none;
	border-radius: 16px;
	padding: 8px;
}

/* should be :disabled but we need to support older versions of GTK */
.kudo-pill:disabled {
	color: @theme_bg_color;
	background-color: mix(@insensitive_fg_color, @theme_bg_color, 0.6);
}

.kudo-pill:disabled:backdrop {
	color: @theme_unfocused_bg_color;
	background-color: mix(@insensitive_fg_color, @theme_unfocused_bg_color, 0.8);
}

.onlyjustvisible:disabled {
	opacity: 0.25;
}

screenshot-carousel > box {
	border-width: 1px 0;
	padding: 12px 0;
}

screenshot-carousel button {
	margin: 12px;
}

.screenshot-image-main .image1, .screenshot-image-main .image2 {
	margin-top: 6px;
	margin-bottom: 12px;
	margin-left: 6px;
	margin-right: 6px;
}

.app-tile-label {
	font-size: 105%;
}

.app-row-tag {
	text-shadow: none;
	color: @theme_selected_fg_color;
	background-color: #999999;
	font-size: smaller;
	border-radius: 4px;
	padding: 2px 10px;
}

.review-textbox {
	padding: 6px;
}

@define-color gs_tile_bg_color mix(@theme_base_color,@theme_bg_color,0.3);

summary-tile {
	border-radius: 6px;
	min-width: 280px;
}

.view.tile {
	padding: 1px;
	border: none;
    box-shadow: inset 0 2px 0 transparent,
                inset 0 -2px 0 transparent,
                inset 0 0 0 1px @unfocused_borders,
                inset 0 -3px 0 -2px transparent;
	background: @gs_tile_bg_color;
}

.view.category-tile {
    padding-top: 2px;
    padding-bottom: 2px;
}

.app-list {
	background-color: @theme_base_color;
}

.view.tile:hover {
	background-color: @theme_base_color;
}

/* Making some shadows transparent instead of replacing multiple shadows with
   one shadow prevents some horrendous transition animations, which happen even
   with backdrop transition disabled. */

.view.tile:active,
.view.tile.colorful:active {
	background: @gs_tile_bg_color;
	box-shadow: inset 0 2px 0 transparent,
                inset 0 -2px 0 transparent,
                inset 0 0 0 1px @theme_selected_bg_color,
                inset 0 -3px 0 -2px transparent;
	color: @theme_selected_bg_color;
}

.view.tile:backdrop {
    box-shadow: inset 0 2px 0 transparent,
                inset 0 -2px 0 transparent,
                inset 0 0 0 1px @unfocused_borders,
                inset 0 -3px 0 -2px transparent;
    /* Tile transitions are choppy for me for some reason. */
    transition: none;
}

/* The rest of the featured-tile CSS is loaded at runtime in gs-feature-tile.c */
.featured-tile {
	all: unset;
	padding: 0;
	box-shadow: none;
	color: @theme_fg_color;
}

.featured-tile:backdrop label {
	color: inherit;
	text-shadow: none;
}

.featured-tile label.title-1 {
	margin-top: 6px;
	margin-bottom: 6px;
}

.featured-tile.narrow label.title-1 {
	font-size: 16pt;  /* 80% of .title-1 */
}

.application-details-infobar.info {
	background-color: shade(@theme_bg_color, 0.9);
	color: @theme_fg_color;
	border-color: darker(shade(@theme_bg_color, 0.9));
	border-style: solid;
	border-width: 1px;
	text-shadow: none;
}

.application-details-infobar {
	background-color: shade(@theme_bg_color, 0.9);
	color: @theme_fg_color;
	border-color: darker(shade(@theme_bg_color, 0.9));
	border-style: solid;
	border-width: 1px;
	padding: 12px;
	text-shadow: none;
}

.application-details-infobar.warning {
	background-color: #fcaf3e;
	color: #2e3436;
	border-color: darker(#fcaf3e);
	border-style: solid;
	border-width: 1px;
	text-shadow: none;
}

.application-details-webapp-warning {
	font-weight: bold;
}

.application-details-description {
}

@keyframes install-progress-unknown-move {
	0% { background-position: 0%; }
	50% { background-position: 100%; }
	100% { background-position: 0%; }
}

.application-details-description .button {
	padding-left:24px;
	padding-right:24px;
}

.install-progress {
	background-image: linear-gradient(to top, @theme_selected_bg_color 2px, alpha(@theme_selected_bg_color, 0) 2px);
	background-repeat: no-repeat;
	background-position: 0 bottom;
	background-size: 0;
	transition: none;
}

.install-progress:dir(rtl) { background-position: 100% bottom; }

.review-summary {
	font-weight: bold;
}

.review-listbox {
	all: unset;
}

.review-row button, .review-row .button { font-size: smaller; }

/* gtk+ 3.20+ only */
.review-row .vote-buttons button {
	margin-right: -1px;

	/* restricting transition properties since the hack for the separator*/
	transition-property: background, box-shadow, border-style, text-shadow;
}

/* this is the separator between yes and no vote buttons, gtk+ 3.20 only */
.review-row .vote-buttons button:not(:first-child):not(:hover):not(:active):not(:backdrop) {
	border-image: linear-gradient(to top, @borders, @borders) 0 0 0 1 / 5px 0 5px 1px;
}
.review-row .vote-buttons button:not(:first-child):backdrop {
	border-image: linear-gradient(to top, @unfocused_borders, @unfocused_borders) 0 0 0 1 / 5px 0 5px 1px;
}

review-bar {
	background-image: none;
	background-color: @unfocused_insensitive_color;
	color: @insensitive_fg_color;
}

.review-histogram star-image {
	color: @insensitive_fg_color;
}

.error-label {
	text-shadow: none;
}

.version-arrow-label {
	font-size: x-small;
}

.overview-more-button {
	font-size: smaller;
	padding: 0px 15px;
}

.app-row-origin-text {
	font-size: smaller;
}

.app-listbox-header {
	padding: 6px;
	background-image: none;
	border-bottom: 1px solid @theme_bg_color;
}

.app-listbox-header:dir(ltr) { padding-left: 10px; }

.app-listbox-header:dir(rtl) { padding-right: 10px; }

.app-updates-section {
	border-radius: 4px;
	border: 1px solid darker(@theme_bg_color);
}

.app-listbox-header-title {
	font-size: 100%;
	font-weight: bold;
}

.image-list {
	background-color: transparent;
}

box.star, GtkBox.star {
	background-color: transparent;
	background-image: none;
}

button.star, .button.star {
	outline-offset: 0;
	background-color: transparent;
	background-image: none;
	border-image: none;
	border-radius: 0;
	border-width: 0px;
	padding: 0;
	box-shadow: none;
	outline-offset: -1px;
}

/* i have no idea why GTK adds padding here */
flowboxchild {
	padding: 0px;
}

star-image {
	color: #e5a50a;
	-GsStarImage-star-bg: #deddda;
}

.counter-label {
	text-shadow: none;
	color: @theme_selected_fg_color;
	background-color: mix(@theme_selected_bg_color, @theme_selected_fg_color, 0.3);
	font-size: smaller;
	border-radius: 4px;
	padding: 0px 4px;
}

/* the following two selectors are to color the small gap before the list inside the scrolled window
   setting a background on the scrolled window affects the undershoot and the overshoot so explicitelly
   excluding with :not() */
.category-sidebar:not(.undershoot):not(.overshoot) { background-color: @theme_base_color; }

.category-sidebar:backdrop:not(.undershoot):not(.overshoot) { background-color: @theme_unfocused_base_color; }

/* padding removal */
.list-box-app-row {
	padding: 0px;
}

/* Superfluous borders removal */
.category-sidebar {
	border-style: none;
}

.category-sidebar:dir(rtl) {
	border-left-style: solid;
}

.category-sidebar:dir(ltr) {
	border-right-style: solid;
}

.dimmer-label {
	opacity: 0.25;
	text-shadow: none;
}

.update-failed-details {
	font-family: Monospace;
	font-size: smaller;
	padding: 16px;
}

.upgrade-banner {
	background-color: #1c5288;
	padding: 0px;
	border-radius: 4px;
	border: 1px solid darker(@theme_bg_color);
	color: @theme_selected_fg_color;
}

.upgrade-buttons {
	padding: 18px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.upgrade-progressbar {
	box-shadow: none
}

.eol-box {
	background-color: @theme_selected_bg_color;
	border: 1px solid shade(@theme_selected_bg_color, 0.8);
	color: @theme_selected_fg_color;
}

.category_page_header_filter_box .radio, .category_page_header_filter_box .radio:hover {
	background-color: transparent; background-image: none;
	box-shadow: none;
	border: none;
	border-radius: 0;
	border-bottom: 4px solid transparent;
}

.category_page_header_filter_box .radio:hover {
	border-bottom-color: @theme_selected_bg_color;
}

.category_page_header_filter_box .radio:checked {
	border-bottom-color: @theme_selected_bg_color;
}

/* uses theme_bg_color and a shade with the ratio of the original color */
.category_page_header_filter_box {
	background-color: shade(@theme_bg_color, 0.9);
	border-bottom: 1px solid darker(shade(@theme_bg_color, 0.9));
}

.switcher-label {
	opacity: 0.5;
}

.featured-carousel rounded-bin {
	border-radius: 8px;
}

.featured-button-left,
.featured-button-right {
	padding: 2px 5px;
	border-radius: 50%;
	-gtk-outline-radius: 50%;
	color: @theme_fg_color;
}

.featured-carousel button.osd {
	-gtk-icon-shadow: none;
	border: none;
}

.featured-carousel button.osd:focus {
	/* this is @theme_fg_color at 10% opacity, but we can’t use the variable
	 * directly as rgba() requires 4 components */
	background: rgba(46, 52, 54, 0.1);
}

.featured-carousel button.osd:hover {
	/* this is @theme_fg_color at 20% opacity, but we can’t use the variable
	 * directly as rgba() requires 4 components */
	background: rgba(46, 52, 54, 0.2);
}

.featured-carousel button.osd:active {
	/* this is @theme_fg_color at 35% opacity, but we can’t use the variable
	 * directly as rgba() requires 4 components */
	background: rgba(46, 52, 54, 0.35);
}

.featured-button-left:not(:hover),
.featured-button-right:not(:hover) {
	background: transparent;
	border:transparent;
	box-shadow: none;
}

/* these typographical classes will be provided in gtk eventually */
.title-1{
  font-weight: 800;
  font-size: 20pt;
}
.caption{
  font-weight: 400;
  font-size: 10pt;
}

/* the loading page headerbar */
overlay > headerbar {
  background: none;
  border: none;
}

/* The following style are taken from libhandy's HdyPreferencesPage style, which
 * implements the style for titled lists of lists.
 * FIXME: Drop these styles if the pages using it are ported to
 * HdyPreferencesPage or its successor in Libadwaita, if their clamp size can be
 * set as a property. */

scrolledwindow.list-page > viewport > clamp {
  margin: 0 12px; transition: margin-bottom 200ms ease;
}

scrolledwindow.list-page > viewport > clamp .section {
  transition: margin-top 200ms ease;
}

scrolledwindow.list-page > viewport > clamp.small {
  margin-bottom: 18px;
}

scrolledwindow.list-page > viewport > clamp.small .section {
  margin-top: 18px;
}

scrolledwindow.list-page > viewport > clamp.medium {
  margin-bottom: 24px;
}

scrolledwindow.list-page > viewport > clamp.medium .section {
  margin-top: 24px;
}

scrolledwindow.list-page > viewport > clamp.large {
  margin-bottom: 30px;
}

scrolledwindow.list-page > viewport > clamp.large .section {
  margin-top: 30px;
}

/* Increase the spacing in the Update Preferences window between the label and
 * the listbox. */

.update-preferences preferencesgroup > box > box {
  margin-top: 18px;
}

/* The following style is taken from libhandy's HdyPreferencesGroup style, which
 * implements the style for titled and described sections with a list box.
 * FIXME: Drop this style if we use the successor of HdyPreferencesGroup in
 * Libadwaita when porting to GTK 4. */

.section > label:not(:first-child) { margin-top: 6px; }

.section > box:not(:first-child) { margin-top: 12px; }

/* The following style is taken from libhandy's HdyStatusPage style.
 * FIXME: Drop this style if HdyStatusPage or its GTK 4 successor allows setting
 * a spinner and the updates spinner page can be ported to it. */

clamp.status-page {
  margin: 36px 12px;
}

clamp.status-page .icon {
  color: alpha(@theme_fg_color, 0.5);
  min-height: 128px;
  min-width: 128px;
}

clamp.status-page .icon:backdrop {
  color: alpha(@theme_unfocused_fg_color, 0.5);
}

clamp.status-page .icon:not(:last-child) {
  margin-bottom: 36px;
}

clamp.status-page .title:not(:last-child) {
  margin-bottom: 12px;
}

app-context-bar {
	border-radius: 8px;
	border: 1px solid shade(@theme_bg_color, 0.9);
	background-color: @theme_base_color;
}

app-context-bar .context-tile {
	padding: 24px 12px 21px 12px;
	border-radius: 0;
	border: none;
	border-right: 1px solid shade(@theme_bg_color, 0.9);
}
app-context-bar .context-tile:last-child {
	border-right: none;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

.context-tile-lozenge {
	font-size: 18px;
	font-weight: bold;
	border-radius: 99999px;
	padding: 9px 11px;
	min-width: 18px;
	min-height: 22px;
}

.context-tile-lozenge.large {
	font-size: 24px;
	padding: 15px 18px;
	min-height: 30px;
}

.context-tile-lozenge.wide-image image {
	/* GtkImage always renders image square, so if we want an image which
	 * is wide, but still the same height as all the others, we have to
	 * use this hack to make it zero-height and vertically centred. The
	 * vertical size group ensures that it does still actually have a
	 * height. */
	margin-top: -999px;
	margin-bottom: -999px
}

.context-tile-title { font-weight: bold }
app-context-bar .context-tile-description { font-size: smaller }

.context-tile-lozenge.grey { background-color: #deddda; color: #5e5c64 }
.context-tile-lozenge.green, .context-tile-lozenge.details-rating-0 { background-color: #b6f2c4; color: #208255 }
.context-tile-lozenge.red, .context-tile-lozenge.details-rating-18 { background-color: #fbd3cf; color: #ab3342 }
.context-tile-lozenge.details-rating-15 { background-color: #ffd7a5; color: #c75400 }
.context-tile-lozenge.yellow, .context-tile-lozenge.details-rating-12 { background-color: #f7eb9f; color: #9c7107 }
.context-tile-lozenge.details-rating-5 { background-color: #d1e4fb; color: #294d7a }

window.toolbox button.titlebutton:not(:hover) {
  background: @theme_bg_color;
}
